* {
	/*CSS Selectors:
		* = All

	{} = Delimiter
	*/
	font-family: "Roboto", sans-serif;
}

h1, h2 {
	font-family: "Montserrat", sans-serif;
}

img {
	height: 250px;
	width: 250px;
}

/*CSS Specificity*/